# === CREDENTIALS ===

## === ODOO
# ODOO_URL=http://localhost:8069
# ODOO_USER=admin
# ODOO_EMAIL=admin
# ODOO_PASSWORD=admin

## === DATABASE
# ODOO_MASTER_PASSWORD=admin
# ODOO_DB_NAME=odoo
# ODOO_DEMO_DATA=True
# ODOO_LANG=en_US
# ODOO_COUNTRY=
